:root {
  --fundo: #0e1014;
  --texto: #f5f5f5;
  --roxo-destaque: #9747ff;
  --roxo-hover: #8233e8;
}

:root[data-theme="light"] {
  --fundo: #ffffff;
  --texto: #232323;
  --roxo-destaque: #9747ff;
  --roxo-hover: #8233e8;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 75px 250px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding-bottom: 50px;
}

h1 {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
}

h1 strong {
  color: var(--roxo-destaque);
}

p {
  font-size: 24px;
  text-align: center;
  max-width: 792px;
  line-height: 1.3;
}

a {
  font-size: 24px;
  font-weight: 400;
  background-color: var(--roxo-destaque);
  color: var(--texto);
  text-decoration: none;
  padding: 24px 48px;
  border-radius: 36px;
  transition: 0.2s;
}

a:hover {
  background-color: var(--roxo-hover);
}
